.submit {
  background: $clr-blue;
  color: $clr-white;
  padding: .4em;
  width: 100px;
  border: none;
  border-radius: .2em;
  &:hover {
    background: $clr-white;
    color: $clr-blue;
    border: 1px solid $clr-blue;
  }
}
