.banner {
  display: grid;
  grid-template-columns: 25px auto 25px;
  align-items: center;

  p {
    grid-column: 2/3;
    background: $clr-light-grey;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 85vw;
    margin: 0 auto;

    h1 {
      color: $clr-txt-black;
      font-size: 3rem;

      span {
        padding: 0 .1em;
        background: $clr-blue;
        color: $clr-white;
      }

      &::after {
        content: '';
        width: 0px;
        height: 0px;
        margin: 0;
      }
    }

    p {
      font-size: 1.5rem;
    }
  }

  aside {

    grid-column: 3/4;
  }
}
