header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  width: 100%;
  @include container;

  nav {
    display: none;

    @include ipad {
      display: block;
    }

    ul {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      width: 350px;

      li {
          //So on hover the border doesn't push the li elements up
          border-bottom: 8px solid transparent;
        &:hover {
          border-bottom: 8px solid $clr-blue;
        }
      }
    }
  }

  .menu-icon {
    @include ipad {
      display: none;
    }


  }

  .active {
    border-bottom: 8px solid $clr-blue;
  }
}
