//So content is lined up with the nav as same width
.portfolio-title,
.portfolio {
  @include container;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2em;
  @include laptop {
    grid-column-gap: 100px;
  }
}
