/* Common Flex property */
@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@mixin ipad($width: 767px) {
  @media(min-width: $width) {
    @content;
  }
}

/* Container */
@mixin container() {
  max-width: 85vw;
  margin: 0 auto;
}
