/* Colours */
$clr-blue: #375CF6;
$clr-dark-grey: #C4C4C4;
$clr-light-grey: #F7F7F8;
$clr-border-grey: #B6B6B6;
$clr-txt-black: #303C3B;
$clr-black: #000000;
$clr-white: #FFFFFF;
$clr-orange: #E9785D;
$clr-grey: #C9C9C9;

/* Font Family */
$font: 'Poppins', sans-serif;


/* Font Weights */
$fw-normal: 400;
$fw-bold: 700;
